.App {
 
}
.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.voyageUnique{
  padding: 50px;
}
.select{
  margin: auto;
  padding: 20px;
}
.plus{
  font-size: 6rem; 
  height: 10rem;
  width: 10rem;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  &:hover{
    .add{
      display: block
    }
  }
}
.signe{
  
  
}
.add{
  display: none;
}
.card:hover{
 transform : translateY(-3px);
 .suppr{
   display:block;
 }
}
.suppr{
  display: none;
  position: absolute;
  right: 18px;
  top: 0px;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  &:hover{
    transition: 0.5s;
    font-size: 2.5rem;
  }
}
